{% extends 'pages/default.html.twig' %}
{% block content %}
    {% include 'actions/logout.html.twig' %}
    <div class="form-container">
        {% include 'forms/upload.html.twig' %}
    </div>
    <div class="chart-container">
    </div>
{% endblock %}