$brand-primary: #034a87;
$gray-lighter: #eee;
$gray-light: #ccc;
$white: #fff;

$alert-default-color: #b8daff;
$alert-default-border-color: #004085;
$alert-default-background-color: #cce5ff;

$alert-danger-color: #721c24;
$alert-danger-border-color: #f8d7da;
$alert-danger-background-color: #f5c6cb;

$text-color: #212529;


$font-family-base: 'Raleway', sans-serif;

$font-size-base: 1rem;
$font-size-lg: 1.25rem